
{% extends 'base.html' %}
{% block content %}

    <ul>

            {% for post in object_list %}
                <li>
                  <a href="{% url 'article' post.pk %}" > {{post.title}} </a>
                    - {{post.author}} - {{ post.post_date }}
                  <small>

<!-- Users can only edit posts only when they are logged into the app. -->
                    {% if user.is_authenticated %}
                      - <a href="{% url 'update_post' post.pk %}">{Edit}</a>
                      <a href="{% url 'update_post' post.pk %}">{Update}</a>
                    {% endif %}

                  </small>

                    <br/>
                  <!-- displaying only the first paragraph of the blog post. -->
                    {{ post.body|slice:":255" }}
                </li>
            {% endfor %}

    </ul>

{% endblock %}
