{% extends 'base.html' %}
{% block title %}
    Edit Post.
{% endblock %}

{% block content %}

<h1>Edit your Post</h1>

<!-- here we need a form that accepts fields that are in the db, to do that we can have custom forms or django forms -->
<div class="form-group">
<!-- Users can only edit posts only when they are logged into the app. -->
    {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <!-- importing the django form with p tags -->
            {{ form.as_p }}


            <!-- This is the Post Button -->
                <button class="btn btn-primary">Update</button>

            <!-- The delete button -->
                <button class="btn btn-danger" ><a href="{% url 'delete_post' post.pk %}" style="color: aliceblue; text-decoration: none;">Delete</a></button>


        </div>
    {% else %}
        <h2>You have to be logged in to Update posts.</h2>
    {% endif %}
<!-- we don't need to close off the form tag after loading the django templates -->

{% endblock %}